<!DOCTYPE html>
<html>
    <body style="background-color:turquoise">
        <h1> UrBaN Dictionary </h1>
    <h2>{{.word}}  </h2>
    <h4 style="background-color:whitesmoke;text-align:center;"> Definition : {{.data}}</h4>
    </body>
</html>